<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task - 1</title>
    <link rel="stylesheet" href="..\public\css\style.css">


</head>
<body>
    <header>
        <h1 class="logo" >
            Dashboard
        </h1>
        <ul>
            <li>
                <a href="#container1">Home</a>
            </li>
            <li>
                <a href="#container2">Contents</a>
            </li>
            <li>
                <a href="#container3">Form</a>
            </li>
        </ul>

    </header>
    <div id="container1">
        <h1 style="color: rgb(83, 200, 255); text-shadow:7px 5px 5px rgb(255, 125, 125); margin-top: 10%;"><center>Welcome Everyone..</center> </h1>
        <p class="para" style="padding-left: 15px;">This is the level 1 and 1st task of the Web Development internship provided by the Cognifyz Technologies.</p>
    </div>

    <div id="container2">
        <center><h1 style="padding: 15px;">Contents</h1></center>
        <ul>
            <li>
                <img src="../public/assets/logo1.png" alt="HTML logo" width="200px"> <p>This logo indicates HTML. HyperText Markup Language</p>
            </li>
            <li>
                <img src="../public/assets/logo2.png" alt="CSS logo" width="205px" height="225px"> <p>This logo indicates CSS. Cascading Style Sheets</p>
            </li>
            <li>
                <img src="../public/assets/logo3.png" alt="JS logo" width="200px"> <p>This logo indicates JS. JavaScript</p>
            </li>
        </ul>
    </div>


    <div id="container3">
        <h1 class="form_title">Feedback Form</h1>
        <form >
            <label for="name">Name:</label><br>
            <input type="text" id="name"><br>
            <label for="Feedback">Feedback</label><br>
            <textarea name="Feedback" id="Feedback" cols="31" rows="10"></textarea><br>
            <center><button type="submit">Submit</button></center>

        </form>
    </div>

</body>
</html>